table {
    border-collapse: collapse;
    border: 1px solid #999;
  }

  table th,
  td {
    text-align: center;
    border: 1px solid #999;
  }

  table .thead > th {
    width: 150px;
    padding: 16px;
  }